#### References:
    www.python.org
    www.numpy.org
    www.matplotlib.org
    https://pandas.pydata.org
    https://docs.python.org
    https://console.cloud.google.com
    https://console.cloud.google.com/google/maps-apis

#### Questions/feedback: petert@digipen.edu

# Maps
- working with google maps
        Register (free + free credit but requires Credit card. No unwanted charges applied.)
            https://console.cloud.google.com/ 
        APIs & Services | Library
        Maps
        Choose services to be used (Maps JavaScript API will be needed)
        Create API key(s) under Credentials
            https://console.cloud.google.com/apis/credentials
        Restrict and Secure API

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

Install gmaps through the Notebook using "!"

Else run the same in Anaconda console without "!"

In [2]:
!pip install gmaps

Collecting gmaps
  Downloading gmaps-0.9.0.tar.gz (1.1 MB)
Requirement already satisfied: ipython>=5.3.0 in c:\users\wnsrl\anaconda3\lib\site-packages (from gmaps) (7.16.1)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\wnsrl\anaconda3\lib\site-packages (from gmaps) (7.5.1)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\wnsrl\anaconda3\lib\site-packages (from gmaps) (4.3.3)
Collecting geojson>=2.0.0
  Downloading geojson-2.5.0-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: six in c:\users\wnsrl\anaconda3\lib\site-packages (from gmaps) (1.15.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\wnsrl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.3)
Requirement already satisfied: jedi>=0.10 in c:\users\wnsrl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.17.1)
Requirement already satisfied: pygments in c:\users\wnsrl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\wnsrl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (49.2.0.post20200714)
Requirement already satisfied: backcall in c:\users\wnsrl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\wnsrl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: decorator in c:\users\wnsrl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (4.4.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\wnsrl\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.5)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\wnsrl\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.7)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\wnsrl\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\wnsrl\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.2)
Requirement already satisfied: ipython-genutils in c:\users\wnsrl\anaconda3\lib\site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\wnsrl\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\wnsrl\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\wnsrl\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: jupyter-core in c:\users\wnsrl\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.3)
Requirement already satisfied: notebook>=4.4.1 in c:\users\wnsrl\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: jupyter-client in c:\users\wnsrl\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.6)
Requirement already satisfied: tornado>=4.2 in c:\users\wnsrl\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.4)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\wnsrl\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.16.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\wnsrl\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.3.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\wnsrl\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (227)
Requirement already satisfied: prometheus-client in c:\users\wnsrl\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.0)
Requirement already satisfied: pyzmq>=17 in c:\users\wnsrl\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (19.0.1)
Requirement already satisfied: Send2Trash in c:\users\wnsrl\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: nbconvert in c:\users\wnsrl\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.1)
Requirement already satisfied: terminado>=0.8.1 in c:\users\wnsrl\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.3)
Requirement already satisfied: jinja2 in c:\users\wnsrl\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\wnsrl\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: bleach in c:\users\wnsrl\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.5)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\wnsrl\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\wnsrl\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: defusedxml in c:\users\wnsrl\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: testpath in c:\users\wnsrl\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\wnsrl\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\wnsrl\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: packaging in c:\users\wnsrl\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.4)
Requirement already satisfied: webencodings in c:\users\wnsrl\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\wnsrl\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)
Building wheels for collected packages: gmaps
  Building wheel for gmaps (setup.py): started
  Building wheel for gmaps (setup.py): finished with status 'done'
  Created wheel for gmaps: filename=gmaps-0.9.0-py2.py3-none-any.whl size=2076101 sha256=8947b1542d36af85d22c67457bcf632f80905453ccd90ecfa1edb9f5833b83b6
  Stored in directory: c:\users\wnsrl\appdata\local\pip\cache\wheels\30\bd\87\d0d731ee712c34a4d6bace8b1dbf8c8932e22a1625b4a55be4
Successfully built gmaps
Installing collected packages: geojson, gmaps
Successfully installed geojson-2.5.0 gmaps-0.9.0

Enable extensions to be able to display gmaps properly:

In [3]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

Import gmaps and sample datasets:

In [4]:
import gmaps
import gmaps.datasets

Store your API Key in a variable or pass it explicitely every time

In [5]:
API_KEY = 'Your API Key'

Or store it in a file and read it so it won't be visible in the notebook:

In [6]:
with open('api.txt') as file:
    API_KEY = file.readline()
    file.close

FileNotFoundError: [Errno 2] No such file or directory: 'api.txt'

Specify and configure with the API key then display the default figure:

In [4]:
gmaps.configure(api_key=API_KEY)
fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

List the available gmaps datasets (included in the package):

In [5]:
gmaps.datasets.list_datasets()

dict_keys(['taxi_rides', 'earthquakes', 'acled_africa', 'acled_africa_by_year', 'london_congestion_zone', 'nuclear_plants', 'starbucks_kfc_uk', 'gini'])

In [6]:
# load the taxi dataset and take a peek
taxi = gmaps.datasets.load_dataset_as_df('taxi_rides')
taxi.head()

    latitude   longitude
0  37.782551 -122.445368
1  37.782745 -122.444586
2  37.782842 -122.443688
3  37.782919 -122.442815
4  37.782992 -122.442112

In [7]:
# retrieve locations as latitude and longitude
locations = taxi[['latitude', 'longitude']]
# set the figure
fig = gmaps.figure()
# add symbol layer
fig.add_layer(gmaps.symbol_layer(locations, fill_color='yellow', stroke_color='red', scale=6))
# display the map
fig

Figure(layout=FigureLayout(height='420px'))

Change to heatmap:

In [8]:
locations = taxi[['latitude','longitude']]
# setting weights to 1 since no additional feature is available to use
weights = np.ones(len(taxi))
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

Lets pick two coordinate pairs and ask for directions:

In [9]:
FROM = taxi.iloc[42,:]
TO = taxi.iloc[314,:]

In [10]:
fig = gmaps.figure()
fig.add_layer(gmaps.directions.Directions(FROM, TO, mode='car'))
fig

Figure(layout=FigureLayout(height='420px'))

Display earthquake locations and show their magnitudes:

In [11]:
# load the earthquake dataset and take a peek
earthquake_df = gmaps.datasets.load_dataset_as_df('earthquakes')
earthquake_df.head()
# retrieve locations as latitude and longitude
locations = earthquake_df[['latitude', 'longitude']]
# set weights as per magnitude
weights = earthquake_df['magnitude']
# set the figure
fig = gmaps.figure()
# add heatmap layer
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
# display the map
fig

Figure(layout=FigureLayout(height='420px'))

Change the map type to Satellite or Hybrid:

In [12]:
# load the earthquake dataset and take a peek
earthquake_df = gmaps.datasets.load_dataset_as_df('earthquakes')
earthquake_df.head()
# retrieve locations as latitude and longitude
locations = earthquake_df[['latitude', 'longitude']]
# set weights as per magnitude
weights = earthquake_df['magnitude']
# set the figure
fig = gmaps.figure(map_type="SATELLITE")
# add heatmap layer
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
# display the map
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
fig = gmaps.figure(map_type="HYBRID")
fig.add_layer(gmaps.directions.Directions(FROM, TO, mode='car'))
fig

Figure(layout=FigureLayout(height='420px'))

Set New York's central coordinates and display a map centered to that:

In [14]:
new_york_coordinates = (40.75, -74.00)
gmaps.figure(center = new_york_coordinates, zoom_level=13)

Figure(layout=FigureLayout(height='420px'))

Display DigiPen on the map

www.latlong.net<br>
Redmond<br>
Latitude: 47.673988<br>
Longitude: -122.121513

DigiPen<br>
Latitude: 47.688807<br>
Longitude: -122.150134

In [15]:
digipen_coordinates = (47.688807, -122.150134)
gmaps.figure(center = digipen_coordinates, zoom_level=15)

Figure(layout=FigureLayout(height='420px'))

Take a small sample from the NYC Taxi rides which has latitude and longitude information:

In [16]:
df_sample = pd.read_csv('df_sample.csv')
print(df_sample.shape)
df_sample.head()

(139, 15)

,Unnamed: 0,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,9900641,FD6A1181E0775BAB364BCC2F85E68202,3DB3C7FA79C48DC996093C9BB5524C90,CMT,2,N,2013-02-11 06:46:50,2013-02-11 07:18:33,2,1902,16.10,-73.976471,40.744869,-73.782478,40.648815
1,4366405,DA2617C774E1C173F1F688500A03EC6A,0C9B95E3059720DDF3CB8B1A43057ABC,CMT,1,N,2013-02-28 13:24:03,2013-02-28 13:39:40,1,936,2.00,-73.999069,40.719170,-74.005203,40.740665
2,8902938,F7F570E1A4FB56F811260B181653D91A,DC51C25579775925CD83C35DC2474083,CMT,1,N,2013-02-07 15:19:31,2013-02-07 15:22:54,1,203,0.30,-73.963882,40.765438,-73.969406,40.768372
3,3554704,C901F6F260BB825D6ADA7BBA82EDCDAF,E81AB910D7ED1E06E56BD97F80E50A09,VTS,1,NaN,2013-02-19 17:50:00,2013-02-19 17:59:00,1,540,1.99,-74.009880,40.721348,-74.005074,40.742733
4,10853369,F6E9B6D3636B7357A87D71BC71C5B36F,D9F0CE02744C215B23AAD18842801788,CMT,1,N,2013-02-22 05:25:01,2013-02-22 05:40:25,2,923,8.70,-73.985062,40.744160,-73.883621,40.775604

Prepare to use loc or iloc and pickup latitude and longitude information:

In [17]:
df_sample.loc[:,['pickup_longitude', 'pickup_latitude']]

     pickup_longitude  pickup_latitude
0          -73.976471        40.744869
1          -73.999069        40.719170
2          -73.963882        40.765438
3          -74.009880        40.721348
4          -73.985062        40.744160
..                ...              ...
134        -73.988396        40.768280
135        -74.001625        40.746704
136        -73.995438        40.723183
137        -73.970680        40.755634
138        -73.790749        40.643902

[139 rows x 2 columns]

In [18]:
df_sample.iloc[:5,11:13]

   pickup_longitude  pickup_latitude
0        -73.976471        40.744869
1        -73.999069        40.719170
2        -73.963882        40.765438
3        -74.009880        40.721348
4        -73.985062        40.744160

Lets quickly check on stats:

In [19]:
df_sample.describe()

,Unnamed: 0,rate_code,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
count,1.390000e+02,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000
mean,7.381953e+06,1.014388,1.697842,661.086331,2.616691,-72.910344,40.164288,-72.381686,39.870066
std,4.081035e+06,0.119517,1.391770,464.324981,3.064779,8.841268,4.870441,10.789198,5.943085
min,2.770270e+05,1.000000,1.000000,2.000000,0.000000,-74.010262,0.000000,-74.013939,0.000000
25%,3.683864e+06,1.000000,1.000000,360.000000,1.070000,-73.990821,40.737200,-73.993863,40.729330
50%,7.037160e+06,1.000000,1.000000,530.000000,1.640000,-73.981377,40.755634,-73.982162,40.751171
75%,1.106092e+07,1.000000,2.000000,870.000000,2.650000,-73.962941,40.767616,-73.971775,40.766848
max,1.389394e+07,2.000000,6.000000,2771.000000,18.400000,0.000000,40.797173,0.000000,40.871243

Note the min and max values have some incorrect data.

Lets check for off coordinates:

In [20]:
df_sample[df_sample['pickup_latitude']<40]

,Unnamed: 0,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
19,13424736,6261E3C14E46A8DF1101A4539562BB29,E5139ABD72E952FE5092EF264C32CF9C,CMT,1,N,2013-02-03 12:55:30,2013-02-03 13:03:58,1,507,2.10,0.0,0.0,0.0,0.0
59,5803669,B1AB9412F2A2079FF18120DE14984705,9D11B6E767EE7FBED69D0ECE4FDBBF67,VTS,1,NaN,2013-02-26 23:34:00,2013-02-27 00:00:00,2,1560,6.45,0.0,0.0,0.0,0.0

Remove these and check the stats again:

In [21]:
df_sample = df_sample[df_sample['pickup_latitude']>40]

In [22]:
df_sample.shape

(137, 15)

In [23]:
df_sample.describe()

,Unnamed: 0,rate_code,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
count,1.370000e+02,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000
mean,7.349365e+06,1.014599,1.700730,655.649635,2.592482,-73.974728,40.750628,-73.438353,40.452110
std,4.075769e+06,0.120379,1.400446,461.109940,3.069267,0.032281,0.024937,6.320458,3.481611
min,2.770270e+05,1.000000,1.000000,2.000000,0.000000,-74.010262,40.643902,-74.013939,0.000000
25%,3.585947e+06,1.000000,1.000000,360.000000,1.040000,-73.990997,40.737766,-73.994164,40.730118
50%,7.037160e+06,1.000000,1.000000,530.000000,1.600000,-73.981445,40.756035,-73.982567,40.752472
75%,1.104654e+07,1.000000,2.000000,840.000000,2.600000,-73.963882,40.768085,-73.972389,40.766869
max,1.389394e+07,2.000000,6.000000,2771.000000,18.400000,-73.789139,40.797173,0.000000,40.871243

Looks better, though no guarantees we don't have some other issues with the data.

Now use the latitude and longitude features and display locations on the map:

In [24]:
df_sample_picklatlong = df_sample[['pickup_latitude', 'pickup_longitude']]

df_sample_layer = gmaps.symbol_layer(df_sample_picklatlong, fill_color='green', stroke_color='red', scale=4)
fig = gmaps.figure()
fig.add_layer(df_sample_layer)
fig

Figure(layout=FigureLayout(height='420px'))

Now lets take a look at Bing's covid data:

In [26]:
df = pd.read_csv('c:/data/BingCOVID19_20201102/data/Bing-COVID19-Data.csv')
df.head()

,ID,Updated,Confirmed,ConfirmedChange,Deaths,DeathsChange,Recovered,RecoveredChange,Latitude,Longitude,ISO2,ISO3,Country_Region,AdminRegion1,AdminRegion2
0,338995,01/21/2020,262,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide,NaN,NaN
1,338996,01/22/2020,313,51.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide,NaN,NaN
2,338997,01/23/2020,578,265.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide,NaN,NaN
3,338998,01/24/2020,841,263.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide,NaN,NaN
4,338999,01/25/2020,1320,479.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide,NaN,NaN

In [27]:
# list unique ISO2 values
df['ISO2'].unique()

array([nan, 'AF', 'AL', 'DZ', 'AS', 'AD', 'AO', 'AI', 'AG', 'AR', 'AM',
       'AW', 'AU', 'AT', 'AZ', 'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ',
       'BJ', 'BM', 'BT', 'BO', 'BQ', 'BA', 'BW', 'BR', 'VG', 'BN', 'BG',
       'BF', 'BI', 'CV', 'KH', 'CM', 'CA', 'KY', 'CF', 'TD', 'CL', 'CN',
       'CO', 'KM', 'CG', 'CD', 'CR', 'CI', 'HR', 'CU', 'CW', 'CY', 'CZ',
       'DK', 'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER', 'EE', 'SZ',
       'ET', 'FK', 'FO', 'FJ', 'FI', 'FR', 'GF', 'PF', 'GP', 'MQ', 'GA',
       'GZ', 'GE', 'DE', 'GH', 'GI', 'GR', 'GL', 'GD', 'GU', 'GT', 'GG',
       'GN', 'GW', 'GY', 'HT', 'HN', 'HK', 'HU', 'IS', 'IN', 'ID', 'IR',
       'IQ', 'IE', 'IM', 'IL', 'IT', 'JM', 'JP', 'JE', 'JO', 'KZ', 'KE',
       'XK', 'KW', 'KG', 'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LI', 'LT',
       'LU', 'MO', 'MG', 'MW', 'MY', 'MV', 'ML', 'MT', 'MH', 'MR', 'MU',
       'YT', 'MX', 'MD', 'MC', 'MN', 'ME', 'MS', 'MA', 'MZ', 'MM', 'NP',
       'NL', 'NC', 'NZ', 'NI', 'NE', 'NG', 'MK', 'MP', 'NO', 'OM', 'PK',
       'PA', 'PG', 'PY', 'PE', 'PH', 'PL', 'PT', 'PR', 'QA', 'RE', 'RO',
       'RU', 'RW', 'XS', 'BL', 'LC', 'MF', 'PM', 'VC', 'SM', 'ST', 'SA',
       'SN', 'RS', 'SC', 'SL', 'SG', 'SK', 'SI', 'SB', 'SO', 'ZA', 'KR',
       'SS', 'ES', 'LK', 'SD', 'SR', 'SE', 'CH', 'SY', 'TW', 'TJ', 'TZ',
       'TH', 'GM', 'TL', 'TG', 'TT', 'TN', 'TR', 'TC', 'VI', 'UG', 'UA',
       'AE', 'GB', 'US', 'UY', 'UZ', 'VU', 'VA', 'VE', 'VN', 'WF', 'PS',
       'YE', 'ZM', 'ZW'], dtype=object)

In [28]:
#Keep only 'US' entries
df = df[df['ISO2'] == 'US']
df.head()

,ID,Updated,Confirmed,ConfirmedChange,Deaths,DeathsChange,Recovered,RecoveredChange,Latitude,Longitude,ISO2,ISO3,Country_Region,AdminRegion1,AdminRegion2
329719,339285,01/23/2020,1,NaN,0.0,NaN,NaN,NaN,39.49591,-98.98998,US,USA,United States,NaN,NaN
329720,339286,01/24/2020,1,0.0,0.0,0.0,NaN,NaN,39.49591,-98.98998,US,USA,United States,NaN,NaN
329721,339287,01/25/2020,2,1.0,0.0,0.0,NaN,NaN,39.49591,-98.98998,US,USA,United States,NaN,NaN
329722,339288,01/26/2020,2,0.0,0.0,0.0,NaN,NaN,39.49591,-98.98998,US,USA,United States,NaN,NaN
329723,339289,01/27/2020,5,3.0,0.0,0.0,NaN,NaN,39.49591,-98.98998,US,USA,United States,NaN,NaN

In [29]:
# list unique AdminRegion1 values
df['AdminRegion1'].unique()

array([nan, 'Alaska', 'Alabama', 'Arkansas', 'Arizona', 'California',
       'Colorado', 'Connecticut', 'District of Columbia', 'Delaware',
       'Florida', 'Georgia', 'Hawaii', 'Iowa', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Massachusetts',
       'Maryland', 'Maine', 'Michigan', 'Minnesota', 'Missouri',
       'Mississippi', 'Montana', 'North Carolina', 'North Dakota',
       'Nebraska', 'New Hampshire', 'New Jersey', 'New Mexico', 'Nevada',
       'New York', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Virginia', 'Vermont', 'Washington', 'Wisconsin',
       'West Virginia', 'Wyoming'], dtype=object)

In [30]:
#Keep only 'Washington' state entries
df = df[df['AdminRegion1'] == 'Washington']
df.head()

,ID,Updated,Confirmed,ConfirmedChange,Deaths,DeathsChange,Recovered,RecoveredChange,Latitude,Longitude,ISO2,ISO3,Country_Region,AdminRegion1,AdminRegion2
943848,127483,01/21/2020,1,NaN,0.0,NaN,NaN,NaN,47.4113,-120.5563,US,USA,United States,Washington,NaN
943849,48825904,01/22/2020,1,0.0,0.0,0.0,NaN,NaN,47.4113,-120.5563,US,USA,United States,Washington,NaN
943850,48825906,01/23/2020,1,0.0,0.0,0.0,NaN,NaN,47.4113,-120.5563,US,USA,United States,Washington,NaN
943851,48825908,01/24/2020,1,0.0,0.0,0.0,NaN,NaN,47.4113,-120.5563,US,USA,United States,Washington,NaN
943852,127485,01/25/2020,1,0.0,0.0,0.0,NaN,NaN,47.4113,-120.5563,US,USA,United States,Washington,NaN

In [31]:
# check on how many rows remained
df.shape

(8930, 15)

In [32]:
df.head()

,ID,Updated,Confirmed,ConfirmedChange,Deaths,DeathsChange,Recovered,RecoveredChange,Latitude,Longitude,ISO2,ISO3,Country_Region,AdminRegion1,AdminRegion2
943848,127483,01/21/2020,1,NaN,0.0,NaN,NaN,NaN,47.4113,-120.5563,US,USA,United States,Washington,NaN
943849,48825904,01/22/2020,1,0.0,0.0,0.0,NaN,NaN,47.4113,-120.5563,US,USA,United States,Washington,NaN
943850,48825906,01/23/2020,1,0.0,0.0,0.0,NaN,NaN,47.4113,-120.5563,US,USA,United States,Washington,NaN
943851,48825908,01/24/2020,1,0.0,0.0,0.0,NaN,NaN,47.4113,-120.5563,US,USA,United States,Washington,NaN
943852,127485,01/25/2020,1,0.0,0.0,0.0,NaN,NaN,47.4113,-120.5563,US,USA,United States,Washington,NaN

In [33]:
df = df[df['Updated'] == '10/31/2020']
df.shape

(40, 15)

In [34]:
df.head()

,ID,Updated,Confirmed,ConfirmedChange,Deaths,DeathsChange,Recovered,RecoveredChange,Latitude,Longitude,ISO2,ISO3,Country_Region,AdminRegion1,AdminRegion2
944132,80812258,10/31/2020,106573,-928.0,2366.0,30.0,NaN,NaN,47.41130,-120.5563,US,USA,United States,Washington,NaN
944352,80806933,10/31/2020,935,7.0,11.0,0.0,NaN,NaN,46.98335,-118.5607,US,USA,United States,Washington,Adams County
944564,80806934,10/31/2020,278,3.0,8.0,0.0,NaN,NaN,46.19188,-117.2031,US,USA,United States,Washington,Asotin County
944787,80806936,10/31/2020,5342,50.0,135.0,0.0,NaN,NaN,46.23973,-119.5111,US,USA,United States,Washington,Benton County
945012,80806938,10/31/2020,2018,4.0,17.0,0.0,NaN,NaN,47.86914,-120.6190,US,USA,United States,Washington,Chelan County

In [35]:
df = df.iloc[1:,:]
df.describe()

,ID,Confirmed,ConfirmedChange,Deaths,DeathsChange,Recovered,RecoveredChange,Latitude,Longitude
count,3.900000e+01,39.000000,39.000000,39.000000,39.0,0.0,0.0,39.000000,39.000000
mean,8.080698e+07,2747.025641,24.230769,60.589744,0.0,NaN,NaN,47.235978,-120.723169
std,2.432631e+01,5160.215068,63.477912,143.205726,0.0,NaN,NaN,0.892164,2.201799
min,8.080693e+07,10.000000,0.000000,0.000000,0.0,NaN,NaN,45.779170,-123.870900
25%,8.080696e+07,180.000000,1.000000,2.500000,0.0,NaN,NaN,46.444215,-122.612300
50%,8.080698e+07,831.000000,6.000000,11.000000,0.0,NaN,NaN,47.142180,-120.789200
75%,8.080700e+07,1924.000000,13.500000,30.500000,0.0,NaN,NaN,47.957575,-118.538600
max,8.080701e+07,27735.000000,382.000000,815.000000,0.0,NaN,NaN,48.829620,-117.203100

In [36]:
df_latlong = df[['Latitude', 'Longitude']]
weights = df['Confirmed']
df_layer = gmaps.heatmap_layer(df_latlong, weights=weights, max_intensity=100, point_radius=20)
fig = gmaps.figure()
fig.add_layer(df_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
df_latlong = df[['Latitude', 'Longitude']]
weights = df['Confirmed']
df_layer = gmaps.heatmap_layer(df_latlong, weights=weights, max_intensity=20, point_radius=10)
fig = gmaps.figure(map_type="SATELLITE")
fig.add_layer(df_layer)
fig

Figure(layout=FigureLayout(height='420px'))

#### Homework 18.1:
Display directions between your home and DigiPen:
- find latitude and longitude for your home and DigiPen
- utilize gmaps "directions" layer
- display direction

In [40]:
# Homework 18.1 code comes here:

#### Homework 18.2:
Display geographic coordinates of observations
- use data Bing-COVID19-Data.csv (https://github.com/microsoft/Bing-COVID-19-Data)
- use gmaps
- use TERRAIN map type

In [ ]:
# Homework 18.2 code comes here:

#### Homework 18.3
Display geographic coordinates of observations
- use data Bing-COVID19-Data.csv (https://github.com/microsoft/Bing-COVID-19-Data)
- use scatterplot (no gmaps!)
- reflect the 'ConfirmedChange' size
    - larger ConfirmedChange value should have larger marker

In [ ]:
# Homework 18.3 code comes here: